@import "../utils/variables";
@import "../utils/placeholders";
.feature{
    height: 740px;
    background-color: $white-color;
    position: relative;
    &-top-lines{
        position: absolute;
        top: 0;
        left: 0;
    }
    &-bottom-lines{
        position: absolute;
        bottom: 0;
        right: 0;
    }
    &-title{
        @extend %title-text;
        position: absolute;
        z-index: 4;
        top: 200px;
        left: 30px;
        width: 314px;
            color: black;
    }
    &-text{
        @extend %paragraph-text;
        position: absolute;
        z-index: 4;
        top: 370px;
        width: 314px;
            color: $paragraph-dark;
            padding-top: 30px;
    }
    &-learn-more{
        width: 315px;
            height: 59px;
            border-radius: 108px;
            border: 0;
            background-color: $primary-color;
            font-family: DM Sans;
            font-weight: 700;
            font-size: 18px;
            line-height: 150%;
            letter-spacing: 0%;
            text-align: center;
            vertical-align: middle;
            color: rgba(255, 255, 255, 0.8);
            position: absolute;
            z-index: 2;
            top: 550px;
            left: 30px;
    }
    &-left-lines{
        display: none;
    }
    &-bottom-desktop-lines{
        display: none;
    }
}

@media (min-width:1920px){
    .feature{
        height: 820px;
        &-bottom-lines{
            display: none;
        }
        &-top-lines{
            display: none;
        }
        &-left-lines{
            display: block;
            position: absolute;
        }
        &-bottom-desktop-lines{
            display: block;
            position: absolute;
        }
        &-title{
            @extend %title-text;
                position: absolute;
                z-index: 4;
                top:210px;
                width: 614px;
                left: 670px;
        }
        &-text{
            @extend %paragraph-text;
                position: absolute;
                z-index: 4;
                top: 320px;
                left: 710px;
                width: 520px;
        }
        &-learn-more{
            transform: translate(800px,-80px);
            width: 210px;
            height: 64px;

        }
    }
}