@import "../utils/variables";
@import "../utils/placeholders";
.gallery{
    height: 753px;
    background-color: $white-color;
    &-title{
        @extend %title-text;
        padding-top: 50px;
            vertical-align: middle;
            color: $background-color;
    }
    &-text{
        @extend %paragraph-text;
        padding-top: 30px;
            color: $paragraph-dark;
    }
    &-photos{
        width: 314px;
        height: 520px;
        gap: 10px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 30px;
    }
}
@media (min-width:1920px){
    .gallery{
        height: 1388px;
        &-title{
            font-family: DM Sans;
                font-weight: 700;
                font-size: 60px;
                line-height: 150%;
                letter-spacing: 0%;
                text-align: center;
                vertical-align: middle;
                padding-top: 150px;
        }
        &-text{
            @extend %small-text;
                text-align: center;
                width: 511px;
                transform: translate(350px);
        }
        &-item-big{
            width: 370px;
            height: 530px;
        }
        &-item-small{
            width: 370px;
            height: 210px;
        }
        &-item-medium{
            width: 370px;
            height: 370px;
        }
        &-photos{
            height: 770px;
            width: 1100px;
            &-item:nth-child(3){
                order: 4;
            }
            &-item:nth-child(6){
                order: 4;
            }
        }
    }
}