@import "../utils/variables";
@import "../utils/placeholders";
.get_there{
    height: 950px;
    background-color: $secondary-bg-color;
    &-title{
        font-family: DM Sans;
            font-weight: 700;
            font-size: 40px;
            line-height: 46px;
            letter-spacing: 0%;
            text-align: center;
            color: $background-color;
            padding-top: 20px;
    }
    &-tutorial{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 30px;
        &-number{
            width: 56px;
            height: 56px;
            border-radius: 50%;
            background-color: $primary-color;
            font-family: DM Sans;
                font-weight: 500;
                font-size: 26.41px;
                line-height: 38.15px;
                letter-spacing: 0px;
                text-align: center;
                vertical-align: middle;
                color: $white-color;
                padding-top: 7px;
                transform: translateX(130px);
        }
        &-title{
            font-family: DM Sans;
                font-weight: 700;
                font-size: 22px;
                line-height: 150%;
                letter-spacing: 0%;
                text-align: center;
                color: $background-color;
        }
        &-text{
            font-family: DM Sans;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.5px;
                text-align: center;
                color: $light-text;
        }
        &-more{
            font-family: DM Sans;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.5px;
                text-align: center;
                color: $primary-color;
        }
        &-textdesk{
            display: none;
        }
    }

    &-video{
        width: 314px;
        height: 208px;
        &-wrapper{
            position: relative;
            width: 314px;
            height: 208px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        &-overlay{
            position: absolute;
            top: 0;
            left: 0;
            width: 314px;
            height: 208px;
        }
        &-text{
            display: none;
        }
        &-title{
            display: none;
        }
    }
    &-btn{
        display: none;
    }
    &-line1{
        display: none;
    }
    &-line2{
        display: none;
    }
}
@media (min-width:1920px){
    .get_there{
        height: 1432px;
        &-title{
            text-align: left;
            font-family: DM Sans;
                font-weight: 700;
                font-size: 60px;
                line-height: 150%;
                letter-spacing: 0%;
        }
        &-tutorial-number{
            transform: translateX(0px);
        }
        &-tutorial-title{
            font-family: DM Sans;
                font-weight: 700;
                font-size: 26.41px;
                line-height: 41.08px;
                letter-spacing: 0px;
                transform: translate(-340px,-50px);
        }
        &-tutorial-text{
            display: none;
        }
        &-tutorial-more{
            display: none;
        }
        &-tutorial-textdesk{
            display: block;
            font-family: DM Sans;
                font-weight: 400;
                font-size: 23.47px;
                line-height: 38.15px;
                letter-spacing: 0px;
                color: $light-text;
                transform: translate(130px,-30px);
        }
        &-fix-title{
            transform: translate(-300px,-50px);
        }
        &-tutorial-item:nth-child(2){
            height: 500px;
        }
        &-video{
            width: 250px;
            height: 165px;
            &-wrapper{
                width: 250px;
                height: 165px;
                transform: translate(130px,40px);
            }
            &-overlay{
                width: 250px;
                height: 165px;
            }
            &-title{
                display: block;
                font-family: DM Sans;
                    font-weight: 700;
                    font-size: 26.41px;
                    line-height: 41.08px;
                    letter-spacing: 0px;
                    color: $background-color;
                    transform: translate(410px,-140px);
            }
            &-text{
                display: block;
                transform: translate(410px,-140px);
                font-family: DM Sans;
                    font-weight: 400;
                    font-size: 23.47px;
                    line-height: 38.15px;
                    letter-spacing: 0px;
                    color: $light-text;
                    width: 446px;
            }
        }
        &-btn{
            display: block;
            width: 210px;
            height: 64px;
            border-radius: 122px;
            background-color: $primary-color;
            border: 0px;
            font-family: DM Sans;
                font-weight: 700;
                font-size: 18px;
                line-height: 150%;
                letter-spacing: 0%;
                text-align: center;
                color: $white-color;
                transform: translate(120px,0px);
        }
        &-line1{
            display: block;
            height: 221px;
            width: 3px;
            background-color: $light-text;
            position: absolute;
            top: 8783px;
            left: 380px;
            opacity: 30%;
        }
        &-line2 {
            display: block;
            height: 500px;
            width: 3px;
            background-color: $light-text;
            position: absolute;
            top: 9000px;
            left: 380px;
            opacity: 30%;
        }
    }
}