@import "../utils/variables";
.places{
    height: 1420px;
    &-bg-walkways{
        height: 710px;
        background-image: linear-gradient(
            to bottom,
            rgba(1, 10, 32, 0.95)
        ),
        url(../img/walkways.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    &-bg-beach{
        height: 710px;
            background-image: linear-gradient(to bottom,
                    rgba(1, 10, 32, 0.95)),
                url(../img/beach.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
    }
    &-wrapper{
        padding-top: 50px;
    }
    &-title{
        font-family: DM Sans;
            font-weight: 700;
            font-size: 40px;
            line-height: 46px;
            color: $white-color;
            padding-top: 20px;
            width: 280px;
    } 
    &-text{
        font-family: DM Sans;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.5px;
            color: $text-color;
            padding-top: 25px;
    }
    &-btn-more{
        width: 314px;
        height: 72px;
        border-radius: 32px;
        border: 0px;
        padding: 16px 24px;
        background-color: $primary-color;
        transform: translateY(30px);
        font-family: DM Sans;
            font-weight: 700;
            font-size: 18px;
            line-height: 150%;
            letter-spacing: 0%;
            text-align: center;
            color: $white-color;
    }
}