$primary-color:rgba(221, 34, 66, 1);
$background-color:rgba(1, 10, 32, 1);
$white-color:white;
$text-color:rgba(224, 224, 224, 1);
$paragraph-dark:rgba(111, 119, 135, 1);
$light-text:rgba(21, 20, 57, 0.4);
$secondary-color:rgba(147, 147, 147, 1);
$ellipse-color:rgba(133, 163, 178, 1);
$secondary-bg-color:rgba(220, 232, 242, 1);